doctype html
html
  head
    title Reevoo Visualiser
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/mockator/css/style.css')
    link(rel="icon" type="image/png" href="/mockator/img/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
      block content
      scrip(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
